= form_for @income do |f|
  - if @income.errors.any?
    #error_explanation
      h2 = "#{pluralize(@income.errors.count, "error")} prohibited this income from being saved:"
      ul
        - @income.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :frequency
    = f.select(:frequency, [['Daily', "1"],['Weekly', "7"],['Fortnightly',"14"],['Monthly', "30"],['Quarterly', "90"],['6 Monthly',"180"],['Yearly',"365"]])

  .actions = f.submit 'Save'
