p#notice = notice

p
  strong Name:
  = @income.name
p
  strong Amount:
  = @income.amount
p
  strong Frequency:
  = @income.frequency

= link_to 'Edit', edit_income_path(@income)
'|
= link_to 'Back', incomes_path
