= form_for @expense do |f|
  - if @expense.errors.any?
    #error_explanation
      h2 = "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      ul
        - @expense.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :cost
    = f.text_field :cost
  .field
    = f.label :frequency
    = f.select(:frequency, [['Daily', "1"],['Weekly', "7"],['Fortnightly',"14"],['Monthly', "30"],['Quarterly', "90"],['6 Monthly',"180"],['Yearly',"365"],['Once Off',"0"]])
  .field
  .actions = f.submit 'Save'
