h1 Listing Expenses


table
  tr
    th Name
    th Amount
    th Frequency
    th
    th
    th

  - @expenses.each do |expense|
    tr
      td = expense.name
      td = expense.cost
      td = expense.frequency
      td = link_to 'Show', expense
      td = link_to 'Edit', edit_expense_path(expense)
      td = link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New expense', new_expense_path
