p#notice = notice

p
  strong Name:
  = @expense.name
p
  strong Amount:
  = @expense.cost
p
  strong Frequency:
  = @expense.frequency

= link_to 'Edit', edit_expense_path(@expense)
'|
= link_to 'Back', expenses_path
