div class="navbar navbar-fixed-top"
  div class="navbar-inner"
    div class="container"
      a class="brand" Account Manager
      ul class="nav"
        li = link_to 'Expenses', 'expenses'
        li = link_to 'Income', 'incomes'
