doctype 5
html
  head
    title Compass Twitter Bootstrap Demo
    meta name="keywords" content="template language"

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag


  body
    = render 'layouts/nav'
    div class="container"
      div class="content"
        div class="hero-unit"
          h3 Amount Saved by 26 December 2013
          h4 = "$#{Income.projectForward.ceil}"
      == yield


